<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/navbar.css') }}"
  />
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='scripts/navbar.js') }}"
    defer
  ></script>
</head>

<nav id="navbar" class="navbar">
  <ul id="navbar-items" class="navbar-items">
    <li class="navbar-item">
      <a id="home-link" href="/" class="nav-link"><span>Home</span></a>
    </li>
    <li class="navbar-item">
      <a id="profile-link" class="nav-link"><span>Profile</span></a>
    </li>
  </ul>
</nav>
