<nav id="navbar" class="navbar">
  <ul id="navbar-items" class="navbar-items">
    <li class="navbar-item">
      <a id="home-link" href="/" class="nav-link"><span>Home</span></a>
    </li>
    {% if session.get('current_user') %}
    <li class="navbar-item">
      <a id="profile-link" href="/profile/{{session.get('current_user').id}}" class="nav-link"><span>Profile</span></a>
    </li>
    {% else %}
    <li class="navbar-item">
      <a id="login-link" href="/auth/login/" class="nav-link"><span>Login</span></a>
    </li>
    {% endif %}
  </ul>
</nav>
