<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      {% if session.get("current_user") %}
      <li>
        <a href="/profile/{{session.get('current_user').id}}">{{session.get("current_user").username}}</a>
      </li>
      {% endif %}
      <li>
        <a href="/profile/all">All Profiles</a>
      </li>
      <li>
        {% if session.get("current_user") %}
        <a href="/auth/logout">Logout</a>
        {% else %}
        <a href="/auth/login">Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>