<form class="form form-default" action="{{ action_route }}" method="post">
  <div class="form-group col-md-10 col-md-offset-1">
    <label class="control-label" id="username-label" for="username-input">Username</label>
    <input class="form-control" id="username-input" name="username" type="text" />
  </div>
  <div class="form-group col-md-10 col-md-offset-1">
    <label id="password-label" for="password-input">Password</label>
    <input class="form-control" id="password-input" name="password" type="password" />
  </div>
  <div class="form-group col-md-10 col-md-offset-1">
    <input class="btn btn-default" id="submit-button" type="submit" value="Submit" />
  </div>
</form>