.navbar {
  background-color: var(--nav-bg-colour);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  height: auto;
}

.nav-links {
  list-style-type: none;
}

.centered {
  flex: auto;
}

.right {
  flex: right;
}

.nav-link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
  color: var(--fg-colour);
}
