.navbar {
  background-color: var(--nav-bg-colour);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  height: var(--nav-height);
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 33%;
}

.nav-links.centered {
  justify-content: center;
}

.centered {
  flex: auto;
}

.right {
  justify-content: right;
}

.nav-link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
  color: var(--fg-colour);
  font-size: 24px;
  text-underline-offset: 10px;
  margin: 0 10px;
}

.nav-link.active {
  text-decoration-color: var(--nav-active-underline);
}
