:root {
  --bg-colour: #002244;
  --fg-colour: #fff;
  --nav-bg-colour: #0069d3;
  --nav-fg-colour: #765432;
  --nav-text-colour: #fff;
  --nav-active-underline: #f00;
  --nav-height: 50px;

  --profile-bg: rgb(67, 114, 200);
  --profile-border-colour: white;

  --flash-bg-error: rgba(180, 0, 0, 0.698);
  --flash-fg-error: white;
  --flash-bg-success: rgba(0, 128, 0, 0.63);
  --flash-fg-success: black;
  --flash-bg-info: yellow;
  --flash-fg-info: black;
}
