:root {
  --bg-colour: #002244;
  --fg-colour: #fff;
  --nav-bg-colour: #0069d3;
  --nav-fg-colour: #765432;
  --nav-text-colour: #fff;
  --nav-active-underline: #f00;
  --nav-height: 50px;

  --flash-bg-error: red;
  --flash-fg-error: white;
  --flash-bg-success: green;
  --flash-fg-success: black;
  --flash-bg-info: yellow;
  --flash-fg-info: black;
}
