<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/variables.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/form.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='scripts/navbar.js') }}"
      defer
    ></script>

    {% block head %}{% endblock %}
    <title>BlogV2 - {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include 'components/navbar.html' %} 
    {% include 'components/flash-messages.html' %}
    <div class="body-container">{% block content %}{% endblock %}
      <a href="/auth/logout/">Logout</a>
    </div>
  </body>
</html>
